<div class="pt-44 px-56 w-100">
  <h2 class="text-4xl text-center">+800 <strong>Pokémons</strong> for you to choose your favorite</h2>

  <input 
    type="text" 
    class="bg-gray w-full py-4 px-8 rounded-full mt-20 shadow-2xl outline-none" 
    placeholder="Encontre seu Pokémon"
    (keyup)="searchPokemon(getValue($event))"
  >

  <div class="grid grid-cols-3 mt-20 gap-4">
    <app-pokemon-card *ngFor="let pokemon of pokemons" pokemonUrl="{{pokemon.url}}"></app-pokemon-card>
  </div>

  <div class="flex justify-center my-8">
    <button class="bg-yellow_primary text-white py-4 px-8 rounded-full" (click)="loadMorePokemons()">Carregar mais</button>
  </div>
</div>
