<div class="bg-gradient-to-b from-yellow_primary to-yellow_secondary to-80% h-screen pt-44">
  <div class="grid grid-cols-2 items-center">
    <div class="pl-40 gap-4">
      <h1 class="text-7xl max-w-lg">
        <strong>Find</strong> all your 
        favorite <strong>Pokémon</strong>
      </h1>
      <h2 class="text-3xl mt-16">You can know the type of Pokémon, its strengths, disadvantages and abilities and catch them.  </h2>

      <a href="/pokedex" type="button" class="shadow-inner bg-green py-4 px-8 rounded-xl mt-16 font-bold text-1xl ">See pokemons</a>
    </div>
    <div class="w-full flex justify-end"><img src="../assets/images/banner-home.svg" alt="banner-home"></div>
  </div>
</div>